* {
    margin: 0%;
    padding: 0%;
}

:root {
    --bg: #020617;
    /* deep dark */
    --glass: rgba(255, 255, 255, 0.05);
    --border: rgba(255, 255, 255, 0.1);

    --primary: #6366f1;
    /* indigo accent */
    --primary-light: #818cf8;

    --text: #f1f5f9;
    --subtext: #94a3b8;
}


body {
    background: radial-gradient(circle at top, #0f172a, #020617);
}

.header {
    background: rgba(2, 6, 23, 0.6);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header img {
    height: 40px;
    width: 40px;
    border-radius: 25px;
    border: 1px solid black;

}

.header-side {
    display: flex;
    gap: 20px;
}

.header-side-discription {
    display: flex;
    flex-direction: column;
    color: var(--text);
}

.header-side-discription p {
    font-size: 12px;
}

.header a {
    font-size: 20px;
    text-decoration: none;
}

.header i {
    color: var(--subtext);
}

.todo-body {
    color: white;
    padding: 30px;
}

.todo-search-area {
    background: var(--glass);
    border: 1px solid var(--border);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.todo-search-area input {
    border: none;
    color: white;
    background: transparent;
    outline: none;
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 10px;
}

.todo-search-area button {
    border: none;
    padding: 10px;
    background: transparent;
    color: var(--subtext);
    border: 1px solid var(--border);
    height: 40px;
    width: 60px;
}

.task-box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 20px;
}

.deleteBtn {
    background: transparent;
    border: none;
    padding: 10px;
    color: var(--subtext);
    border: 1px solid var(--border);
}

hr {
    margin: 30px 30px 30px 30px;
}